*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #094fdb;
    --light-yellow: #fffdf7;
    --light-green: #85e5c6;
    --primary-green-text: #357471;
    --secondary-green-text: #323232;
    --default-text: #333;
}

body{
    font-family: Favoritfreshly,sans-serif;
    color: var(--default-text);
    font-size: .875rem;
    line-height: 1.43em;
    font-weight: 400;
}

a{
    background-color: transparent;
    transition: opacity .2s;
    text-decoration: underline;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}


h1 {
    margin: 0 0 24px;
    color: #333;
    font-size: 3rem;
    line-height: 1.08em;
    font-weight: 700;
}

h4{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.25em;
    font-weight: 700;
}

img{
    border: 0;
    max-width: 100%;
    display: block;
}

.primary-button{
    display: inline-block;
    background-color: var(--primary-blue);
}

/* --------------------------------Plans Section--------------------------------  */

.planContainer{
    background: var(--light-yellow);
    padding: 64px 32px;
}

/* Plans Header  */

.planContainerInner{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.planHeaderTitle{
    max-width: 700px;
    margin-bottom: 33px;
    margin-right: auto;
    margin-left: auto;
}

.planHeaderTitle h2{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: 2.375rem;
    line-height: 1.16em;
}

.planHeaderTitle p{
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}

.planHeaderTitle > p > span{
    color: var(--primary-green-text);
    font-weight: 700;
}

.planHeaderCards{
    display: flex;
    margin-top: 66px;
}

.planHeaderCard{
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
    flex: 1;
    color: var(--primary-green-text);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
}

.planHeaderCard:hover{
    color: var(--primary-green-text);
}

.planHeaderCard img{
    width: 100%;
    height: auto;
    max-height: 192px;
    margin-bottom: 16px;
    border-radius: 16px;
    object-fit: contain;
    object-position: 50% 0%;
}

.cardGreenPill{
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 600px;
    background-color: var(--light-green);
    color: var(--secondary-green-text);
    font-size: 14px;
    line-height: 1em;
}

.ctaTitle{
    color: var(--primary-green-text);
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
}

.ctaBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3167ff;
    color: #fff;
    padding: 13px 16px 12px;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: .5px;
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition-property: all;
    transition-duration: .4s;
}

.ctaBtn:hover{
    color: #fff;
    transform: translate(3px,-2px)
}


/* Plan Services  */
.servicesContainer{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.servicesTitle{
    margin-bottom: 70px;
}

.servicesTitle h1{
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 24px;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.08em;
}

.servicesSubTitle{
    max-width: 610px;
    margin: 32px auto;
}

.serviceCards{
    display: flex;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
}

.serviceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-right: 7px;
    padding-left: 7px;
    text-align: center;
}

.serviceCardContent{
    display: flex;
    height: 100%;
    max-width: 220px;
    flex-direction: column;
    align-items: center;
}
.serviceCardContent img{
    height: 190px;
    margin-right: auto;
    margin-left: auto;
}
.serviceCardContent h4{
    margin-top: 0;
}
.serviceCardDetails{
    max-width: 200px;
}
.serviceCardContent a{
    display: inline-block;
    margin-top: 24px;
    font-weight: 700;
}

/* Common Questions  */
.commonQuestionsContainer{
    display: flex;
    overflow: hidden;
    padding: 64px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commonQuestionsContainerInner{
    padding-top: 0;
    padding-right: 52px;
    padding-left: 52px;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


/* Footer  */
.footer{
    display: flex;
    justify-content: center;
    border-style: solid none none;
    border-width: 0.5px 1px 1px;
    border-color: rgba(51,51,51,.2) #000 #000;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 32px;
}

.footerContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    width: 72%;
    background: transparent;
}

.footerLogoContainer{
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.footerLogoContainer .logoSub{
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
}


.footerContent h3{
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.2em;
}

.footerlink{
    align-items: flex-start;
    transition: color .2s;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    margin-bottom: 16px;
}

.footerContent a{
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
}

.footerSocials{
    display: flex;
    flex-direction: column;
    width: 136px;
}
.footerContent .icons a{
    max-width: 100%;
    display: inline-block;
    margin-right: 20px;
    opacity: .65;
}


.footerContent .horiz{
    margin-bottom: 32px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
}

.footerContent .footerLinks{
    width: 50%;
}

/* Responsive Queries  */
@media screen and (max-width:1024px) {
    .planHeaderCard {
        font-size: 22px;
    }
}
@media screen and (max-width:991px) {
    .planContainer {
        padding-left: 16px;
        padding-right: 16px;
    }

    /* Common Question  */
    .commonQuestionsContainer{
        padding-left: 32px;
        padding-right: 32px;
    }
    .commonQuestionsContainerInner{
        padding-left: 0;
        padding-right: 0;
    }
    
}

@media screen and (max-width:767px) {
    .planHeaderCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }
    .planHeaderCard{
        margin-bottom: 32px;
        font-size: 28px;
    }
    .planHeaderCard img{
        margin-bottom: 6px;
        object-fit: cover;
    }
    .fullCard{
        position: relative;
        width: 95%;
    }
    .fullCard img{
        max-height: 400px;
        border-radius: 16px;
        object-position: 50% 0%;
        object-fit: cover;
    }


    /* Footer  */
    .footer{
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 0px;
    }
    .footerContent{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        background: transparent;
    }
    .footerLogoContainer{
        display: none;
    }
    
}

@media screen and (max-width:479px) {
    /* Plan Header  */
    .planContainer{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .planHeaderCards{
        margin-top: 32px;
    }
    .planHeaderCard img{
        height: 192px;
        object-fit: cover;
        object-position: 100% 0;
    }

    .ctaTitle{
        margin-top: 0;
    }
    .full-in-mobile{
        display: block;
        width: 100%;
    }


    /* Services  */
    .serviceCards{
        flex-direction: column;
        align-items: center;
    }
    .serviceCardContent{
        margin-bottom: 32px;
    }

    /* Footer  */

    .footerContent .footerLinks{
        width: 100%;
    }
}
